body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-image: url('../img/fon-alter.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#post-details, #comments {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #c4c1c1;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    background-image: url('../img/asa.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#comments {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

#comments div {
    width: calc(20% - 20px);
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #c4c1c1;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-image: url('../img/fon1234.png');
    background-size: cover;
    background-repeat: no-repeat;
}

button {
    width: 5%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #a72828;
}